@model IEnumerable<THE_APP.Models.SavedPostsModel>

@{
    ViewBag.Title = "SavedPosts";
    Layout = "~/Views/Shared/_WallLayout.cshtml";
}

<h2>Saved Posts</h2>
<ul class="list-group mt-4">
    @foreach (var item in Model)
    {
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            @Html.ActionLink(item.Post.Title, "Details", "Home", new { id = item.PostId }, new { @class = "link" })
            @Html.ActionLink("Delete", "DeleteSavedPost", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
        </li>
    }
</ul>
